.library {
    display: grid;
    grid-template-areas:
        "sidebar header "
        "sidebar main ";
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(23rem, 1fr) 4fr;
    min-height: 100svh; /* fall-back */
}

.header {
    grid-area: header;
    background-color: white;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    background-color: lightpink;
}

/* sidebar */

.sidebar,
.sidebar__nav {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    gap: 3rem;
}

.sidebar {
    padding: 3rem 2rem;
    color: var(--background-white);
    background-color: var(--primary);
}

.sidebar__nav {
    padding-left: 1rem;
    font-size: var(--header2-font-size);
    font-weight: bold;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar__item {
    display: flex;
    align-items: center;
    width: 80%;
    height: 4rem;
    border-radius: var(--radius-sm);
}

.active {
    background-color: var(--primary-light);
}

.sidebar__btn,
.sidebar__link {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--background-white);
    text-decoration: none;
}

.sidebar__header {
    font-size: var(--header1-font-size);
    font-weight: bold;
}

.sidebar__logo-text {
    color: var(--background-white);
}

/* Header Section  */
.header {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    min-width: 100%;
    padding: 3rem 2rem;
}

.header__main {
    display: flex;
    align-self: center;
}

.header__description {
    font-weight: 500;
    color: var(--text-secondary);
}

.header__action {
    gap: 1rem;
    margin-left: auto;
}
.search__input {
    min-height: 4rem;
    color: var(--background-dark-grey);
    border: 2px solid var(--background-dark-grey);
    border-radius: var(--radius-sm);
}

.header__action {
    display: flex;
    align-items: center;
}

.header__sort {
    display: flex;
    gap: 2rem;
}

/* Button Design */
.btn__add {
    width: 12rem;
    height: 4rem;
}

.btn__sort {
    width: 8rem;
    height: 4rem;
}
.btn--primary {
    font-weight: 600;
    color: var(--background-white);
    background-color: var(--primary);
    border: none;
    border-radius: var(--radius-sm);
    transition: all 1s ease;
}

.btn--primary:hover {
    color: var(--primary);
    background-color: var(--background-white);
    border: 2px solid var(--primary);
}

.btn--secondary {
    font-weight: 600;
    color: var(--text-primary);
    background-color: var(--background-grey);
    border: 2px solid var(--background-dark-grey);
    border-radius: var(--radius-sm);
    transition: all 1s ease;
}

.btn--secondary:hover {
    color: var(--primary);
    background-color: var(--background-white);
    border: 2px solid var(--primary);
}

@media (max-width: 600px) {
    .library {
        display: grid;
        grid-template-areas:
            "header "
            "main ";
        grid-template-rows: auto 1fr;
        grid-template-columns: auto;
        min-height: 100svh; /* fall-back */
    }

    .header {
        grid-area: header;
        gap: 2rem;
        padding: 2rem 2rem;
    }

    .header__main {
        flex-direction: column;
        gap: 2rem;
    }

    .header__action {
        margin: 0;
    }

    .search {
        flex-grow: 1;
    }

    .search__input {
        width: 100%;
    }

    .main {
        grid-area: main;
    }

    .sidebar {
        display: none;
    }
}
